{% extends "simple/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
  
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>TO-DO LIST</center></h1>
        
        <p class="lead"><center>Bu sayfa yapılacaklar listesi oluşturmak için kullanılır</center></p>
        <p class="lead"><center>Listeyi takip ediniz</center></p>
        <p class="lead"><center>Listeye istediğinizi ekleyebilir ve silebilirsiniz</center></p>
        <p class="lead"><center>Ayrıca güncelleyebilirsiniz</center></p>
        <br><br>
      <div class="text-center">
        
      </div>
    </div>
  </div>
{% endblock content %}